<div class="card rounded-0 mt-5 mb-5">
    <div class="card-body">
        <h2 class="text-center">Listing Employees Details</h2>
    </div>
</div>
<table class ="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Country</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
        <% @employees.each do |employee|%>
            <tr>
                <td> <%= employee.name %> </td>
                <td> <%= employee.personal_email %> </td>
                <td> <%= employee.country %> </td>
                <td> <%= employee.full_address %>  </td>
            </tr>
        <% end %>
    </tbody>
</table>