<%#= link_to 'About Us', controller: :pages, action: :about_us, target:'_blank' %>
<h1>HR Manager </h1>
<%= link_to 'About Us', about_path, target: '_blank',style: 'color:red;' %>
<%= link_to 'Contact Us', contact_path, target: '_blank',style: 'color:red;' %>
<%= link_to 'Privacy Policy', privacy_policy_path, target:'_blank',style: 'color:red;' %>
<%= link_to 'Terms and Conditions', '/terms-and-conditions', target:'_blank',style: 'color:red;' %>